src/main/resources/tests/OPC-UA DI.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UANodeSet" type="uan:UANodeSetType" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd">
    <xs:annotation>
      <xs:documentation>* Copyright (c) 2005-2018 The OPC Foundation, Inc. All rights reserved.
 *
 * OPC Foundation MIT License 1.00
 * 
 * Permission is hereby granted, free of charge, to any person
 * obtaining a copy of this software and associated documentation
 * files (the "Software"), to deal in the Software without
 * restriction, including without limitation the rights to use,
 * copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following
 * conditions:
 * 
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 * OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 * HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 * OTHER DEALINGS IN THE SOFTWARE.
 *
 * The complete license agreement can be found here:
 * http://opcfoundation.org/License/MIT/1.00/</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NamespaceUrisType">
    <xs:sequence>
      <xs:element type="xs:anyURI" name="Uri"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AliasType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Alias" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AliasesType">
    <xs:sequence>
      <xs:element type="uan:AliasType" name="Alias" maxOccurs="unbounded" minOccurs="0" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="ReferenceType" use="optional"/>
        <xs:attribute type="xs:string" name="IsForward" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ReferencesType">
    <xs:sequence>
      <xs:element type="uan:ReferenceType" name="Reference" maxOccurs="unbounded" minOccurs="0" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UAReferenceTypeType">
    <xs:sequence>
      <xs:element type="xs:string" name="DisplayName"/>
      <xs:element type="xs:string" name="Description"/>
      <xs:element type="uan:ReferencesType" name="References" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"/>
      <xs:element type="xs:string" name="InverseName"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="NodeId"/>
    <xs:attribute type="xs:string" name="BrowseName"/>
  </xs:complexType>
  <xs:complexType name="UAObjectType">
    <xs:sequence>
      <xs:element type="xs:string" name="DisplayName"/>
      <xs:element type="xs:string" name="Description"/>
      <xs:element type="uan:ReferencesType" name="References" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="NodeId" use="optional"/>
    <xs:attribute type="xs:string" name="BrowseName" use="optional"/>
    <xs:attribute type="xs:string" name="ParentNodeId" use="optional"/>
    <xs:attribute type="xs:string" name="IsAbstract" use="optional"/>
    <xs:attribute type="xs:string" name="DataType" use="optional"/>
  </xs:complexType>
  <xs:complexType name="UAObjectTypeType">
    <xs:sequence>
      <xs:element type="xs:string" name="DisplayName"/>
      <xs:element type="xs:string" name="Description"/>
      <xs:element type="uan:ReferencesType" name="References" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="NodeId" use="optional"/>
    <xs:attribute type="xs:string" name="BrowseName" use="optional"/>
    <xs:attribute type="xs:string" name="IsAbstract" use="optional"/>
    <xs:attribute type="xs:string" name="ParentNodeId" use="optional"/>
    <xs:attribute type="xs:string" name="DataType" use="optional"/>
  </xs:complexType>
  <xs:complexType name="UAVariableType">
    <xs:sequence>
      <xs:element type="xs:string" name="DisplayName"/>
      <xs:element type="xs:string" name="Description"/>
      <xs:element type="uan:ReferencesType" name="References" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="NodeId" use="optional"/>
    <xs:attribute type="xs:string" name="BrowseName" use="optional"/>
    <xs:attribute type="xs:string" name="ParentNodeId" use="optional"/>
    <xs:attribute type="xs:string" name="DataType" use="optional"/>
    <xs:attribute type="xs:string" name="IsAbstract" use="optional"/>
  </xs:complexType>
  <xs:complexType name="UAMethodType">
    <xs:sequence>
      <xs:element type="xs:string" name="DisplayName"/>
      <xs:element type="xs:string" name="Description"/>
      <xs:element type="uan:ReferencesType" name="References" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="NodeId" use="optional"/>
    <xs:attribute type="xs:string" name="BrowseName" use="optional"/>
    <xs:attribute type="xs:string" name="ParentNodeId" use="optional"/>
    <xs:attribute type="xs:string" name="IsAbstract" use="optional"/>
    <xs:attribute type="xs:string" name="DataType" use="optional"/>
  </xs:complexType>
  <xs:complexType name="UANodeSetType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="uan:NamespaceUrisType" name="NamespaceUris" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"/>
      <xs:element type="uan:AliasesType" name="Aliases" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"/>
      <xs:element type="uan:UAReferenceTypeType" name="UAReferenceType" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"/>
      <xs:element type="uan:UAObjectType" name="UAObject" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"/>
      <xs:element type="uan:UAObjectTypeType" name="UAObjectType" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"/>
      <xs:element type="uan:UAVariableType" name="UAVariable" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"/>
      <xs:element type="uan:UAMethodType" name="UAMethod" xmlns:uan="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"/>
    </xs:choice>
    <xs:attribute type="xs:dateTime" name="LastModified"/>
  </xs:complexType>
</xs:schema>
